html, body {
	width:100%;
	height:100%;
	padding:0;
	margin:0;
}

.skrollable {
	/*
	 * First-level skrollables are positioned relative to window
	 */
	position:fixed;

			transition: all .5s;
	   /*-o-transition: all .5s;*/
		-ms-transition: all .5s;
	   -moz-transition: all .5s;
	-webkit-transition: all .5s;
}

.skrollable .skrollable {
	/*
	 * Sub-level skrollables are positioned relative their parent skrollable
	 */
	position:absolute;
}
