html, body {
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	overflow-x:hidden;
}

.skrollable {
	/*
	 * First-level skrollables are positioned relative to window
	 */
	position:fixed;

	/*
	 * Skrollables by default have a z-index of 100 in order to make it easy to position elements in front/back without changing each skrollable
	 */
	z-index:100;

			transition: all .5s;
	   /*-o-transition: all .5s;*/
		-ms-transition: all .5s;
	   -moz-transition: all .5s;
	-webkit-transition: all .5s;
}

.skrollable .skrollable {
	/*
	 * Sub-level skrollables are positioned relative their parent skrollable
	 */
	position:absolute;
}
